apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: routerhostsconfigs.router-hosts.fzymgc.house
spec:
  group: router-hosts.fzymgc.house
  names:
    kind: RouterHostsConfig
    listKind: RouterHostsConfigList
    plural: routerhostsconfigs
    shortNames:
      - rhc
    singular: routerhostsconfig
  scope: Cluster
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          required:
            - spec
          properties:
            apiVersion:
              type: string
            kind:
              type: string
            metadata:
              type: object
            spec:
              type: object
              required:
                - server
                - ipResolution
              properties:
                server:
                  type: object
                  required:
                    - endpoint
                    - tlsSecretRef
                  properties:
                    endpoint:
                      type: string
                      description: gRPC endpoint (host:port)
                    tlsSecretRef:
                      type: object
                      required:
                        - name
                        - namespace
                      properties:
                        name:
                          type: string
                          description: Secret name
                        namespace:
                          type: string
                          description: Secret namespace
                ipResolution:
                  type: array
                  description: IP resolution strategies (tried in order)
                  items:
                    type: object
                    required:
                      - type
                    properties:
                      type:
                        type: string
                        enum:
                          - ingressController
                          - static
                      serviceName:
                        type: string
                        description: Service name (for ingressController type)
                      serviceNamespace:
                        type: string
                        description: Service namespace (for ingressController type)
                      address:
                        type: string
                        description: IP address (for static type)
                deletion:
                  type: object
                  properties:
                    gracePeriodSeconds:
                      type: integer
                      format: int32
                      default: 300
                      description: Grace period before deleting entries (seconds)
                defaultTags:
                  type: array
                  description: Default tags added to all managed entries
                  items:
                    type: string
