name: PR Checks

on:
    pull_request:
        branches: [main]

env:
    CARGO_TERM_COLOR: always

jobs:
    format:
        runs-on:
            - runs-on=${{ github.run_id }}/runner=2cpu-linux-x64/image=ubuntu24-full-x64/spot=lowest-price
        steps:
            - uses: runs-on/action@v2
            - uses: actions/checkout@v5

            - name: Install Rust
              uses: dtolnay/rust-toolchain@stable

            - name: Install buf
              uses: bufbuild/buf-setup-action@v1
              with:
                  github_token: ${{ github.token }}

            - name: Format Rust (check)
              run: cargo fmt -- --check

            - name: Format protobuf (check)
              run: buf format --diff --exit-code
